<mat-list>
  <mat-list-item>
    <img mat-list-avatar src="https://placekitten.com/g/200/200" alt="avatar">
    <h4 mat-line> {{ master.name }} </h4>
    <p mat-line>
      {{ master.skills }}
    </p>
  </mat-list-item>
</mat-list>
<mat-divider></mat-divider>
<div class="pad-left pad-right pad-bottom push-bottom">
  <div layout="row" layout-align="start center">
    <p *ngIf="!getNextDateEqualsSelected(masterDateTime.date)" class="pad-right-xs text-md">Ближайшее свободное время</p>
    <p *ngIf="getNextDateEqualsSelected(masterDateTime.date)" class="pad-right-xs text-md">Свободное время</p>
    <p class="color-accent">{{masterDateTime.date | date: 'yMMMMd'}}</p>
  </div>
  <mat-grid-list gutterSize="16px" rowHeight="2:1"
                [cols]="(media.registerQuery('gt-sm') | async) ? 6 :
                        (media.registerQuery('gt-xs') | async) ? 4 :
                        (media.registerQuery('gt-md') | async) ? 5 : 3 ">
    <mat-grid-tile *ngFor="let time of masterDateTime.times; let i = index"
                  style="cursor: pointer"
                  md-ripple="#FF0000"
                  [class.selected]="selected && time === selectedTime"
                  (click)="onTileClick(i)"
                  id="{{i}}">
      {{ time + ':00' }}
    </mat-grid-tile>
  </mat-grid-list>
</div>
